doctype html
html
  include include/header

  body
  -var user = session?session.user?session.user:null:null
  header#header
    .language.hidden= locale.tag
    .navbar
      .nav(role='navigation').container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle Navgation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand= locale.app_name
        #navbar-collapse.navbar-collapse.collapse
            ul.nav.navbar-nav
              li            
                a(href='/')= locale.tags.Header_Home
                  span.glyphicon.glyphicon-home
              if user && user.role == 'customer'
                li
                  a(href='/'+user._id+'/mywarrantycards')= locale.tags.Header_MyWarrantyCards
                li
                  a(href='/'+user._id+'/myappliances')= locale.tags.Header_MyAppliances 
              else if user && user.role == 'salesman'
                li
                  a(href='/managecards')= locale.tags.Header_Salesman_WarrantyCards
                li
                  a(href='#appliances')= locale.tags.Header_Salesman_Appliances 
                li
                  a(href='/statistics')= locale.tags.Header_Statistic 

              //- li
              //-   a(href='#myappliances')= locale.tags.Header_MyAppliances 
              li
                a(href='javascript:;')= locale.tags.Header_About    
            if user 
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/'+user._id+'/myprofile')= locale.tags.Header_MyProfile   
                    span.glyphicon.glyphicon-user
                li
                  a(href='/logout')= locale.tags.Header_logout
                    span.glyphicon.glyphicon-off
            else 
              ul.nav.navbar-nav.navbar-right(style='margin-top:5px;margin-bottom:10px')
                if currentUrl != '/register'
                  li
                    form(action='/register',method='get')
                      button.btn.btn-primary.form-control(type='submit')= locale.tags.Header_Register
                li
                  form(action='/login',method='get')
                    button.btn.btn-success.form-control(type='submit',style='margin-left:20px')= locale.tags.Header_Signin


                //- if currentUrl != '/regisdter'
                //-   form#header_signin_form.navbar-form.navbar-right(action='/api/login',method='post')
                //-     input.text(type='hidden',name='redirect',value='/')
                //-     .form-group
                //-       input.form-control(name='user',placeholder="#{locale.tags.Header_placeholder_username}")
                //-     .form-group
                //-       input.form-control(name='password',type='password',placeholder="#{locale.tags.Header_placeholder_password}")
                //-     button.btn.btn-success(type='submit')= locale.tags.Header_Signin
                  //- a.btn-primary(href='/register')= locale.tags.Header_Register

  .container
    #message-box.row.center.text-center
      .alert.hidden
         button(type="button",class="close",data-dismiss="alert",aria-hidden="true")&times;
    block content 
include include/footer