extends layout
block scripts
  link(rel='stylesheet',href='/css/mywarrantycards.css')
block content
  #page.container
    #cards
      each card in cards
        if(card.status == 'ACTIVE')
          #active-cards
        else
          #inactive-cards
            +makeCard(card,"show")
            +makeCard("","hidden")




mixin makeCard(card,hidden)
  //- - var card = $.parseJSON(card)
  .card-template.card(class='#{hidden}')
    .card-title
      span.card-number= locale.myCardsPage.card_number+":"+(card.number?card.number:"")
      span.appliance-name= locale.myCardsPage.appliance_name+":"+(card.appliance_name?card.appliance_name:"")
    .card-body
      span #{locale.myCardsPage.warranty_date}
      span.date.date-from= card.fromDate?card.fromDate.toDateString():""
      span.date.date-to= card.toDate?card.toDate:""
      span.warranty-status= locale.myCardsPage.status+":"+(card.status?locale.myCardsPage.valid_status:locale.myCardsPage.invalid_status)

    img.appliance-pic(src="#{card.appliance_pic_path}")
    button.view-details.btn.btn-primary= locale.myCardsPage.button_viewDetail+" "
      badge.glyphicon.glyphicon-arrow-right
    







    
      
