extends layout
block scripts
  link(rel='stylesheet', href='/css/register.css')
block content
  .container
    form.form-register.form-horizontal
      h2.form-register-heading
        |#{locale.registerPage.register_title} 
      label.col-sm-3.control-label(for='email') 用户名
      input.col-sm-7#email.form-control(type='email', placeholder='#{locale.registerPage.email_placeholder}', autofocus='autofocus')
      input#password.form-control(type='password', placeholder='#{locale.registerPage.password_placeholder}')
      input#rpt_pwd.form-control(type='password', placeholder='#{locale.registerPage.rpt_pwd_placeholder}')
      input#phone.form-control(type='text', placeholder='#{locale.registerPage.rpt_pwd_placeholder}')
      input#address.form-control
      label.checkbox
        input(type='checkbox', value='remember-me')
        | Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

