extends layout
block scripts

  script(type='text/javascript',src='/js/bootstrap.file-input.js')
  script(type='text/javascript',src='/js/newcard.js')
  link(rel='stylesheet',href='/css/newcard.css')

block content
  .wrapper
    h3.form-title.text-center= locale.manageCards.create_card
    form#new-card-form.form-horizontal(enctype='multipart/form-data')
      input.hidden(name='creator',value="#{user?user._id:null}")
      .form-group
        label.control-label.col-md-2(for='email')= locale.manageCards.user_email
        .col-md-8
          input.form-control(type='email',name='email')
        .col-md-2.email-alert
          img.hidden(src='/images/loading.gif')
          a.alert-text= ''
          input.user-id.hidden(name='customer',type='text')
          a.click-to-register.hidden(href='/register')= locale.manageCards.click_to_register

      .form-group
        label.control-label.col-md-2(for='SN')= locale.manageCards.SN
        .col-md-8
          input.form-control(type='text',name='SN')     
        .col-md-2.SN-alert
          img.hidden(src='/images/loading.gif')
          a.alert-text
          input.appliance-id.hidden
      .form-group
        label.control-label.col-md-2(for='KY')= locale.manageCards.KY
        .col-md-8
          input.form-control(type='text',name='KY')      
        .col-md-2.KY-alert
          img.hidden(src='/images/loading.gif')
          a.alert-text
      .form-group
        label.control-label.col-md-2(for='note')= locale.manageCards.note
        .col-md-8
          input.form-control(type='text',name='note')      
        .col-md-2.note-alert
          img.hidden(src='/images/loading.gif')
          a.alert-text
      .form-group
        label.control-label.col-md-2(for='invoice')= locale.manageCards.invoice
        .col-md-8
          input.form-control(type='file',name='invoice',title='#{locale.manageCards.click_to_upload}',data-filename-placement="inside")
        .col-md-2.invoice-alert
          img.hidden(src='/images/loading.gif')
          a.alert-text
        
      .row 
        //- .alert-result.alert.alert-success.alert-dismissable.hidden.col-md-offset-6.col-md-2= locale.manageCards.success
        //-   button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
        //- .alert-result.alert.alert-danger.alert-dismissable.hidden.col-md-offset-8.col-md-2= locale.manageCards.fail
        //-   button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
        a.thumbnail.col-md-2.center
          img#preview(src='/images/no-image.jpg',title='')
        #btn-submit.btn.btn-default.col-md-offset-9(type='submit')= locale.manageCards.submit

